<div class="container">
  <h1>My Serverless Book Functions</h1>
  <h2>- By Dean Clancy, S00131401</h2>
  <hr />
  <h3>Book List</h3>
  <ul>
    <li *ngFor="let book of MyBooks">
      <button class="btn btn-sm btn-danger mb-2" (click)="deleteBook(book.id)">
        Delete Book
      </button>
      {{ book.id }} - {{ book.title }} - {{ book.author }}
    </li>
  </ul>
  <hr />
  <h3>Add book</h3>
  <form (ngSubmit)="addBook()">
    <div class="form-group">
      <div class="form-group">
        <label>Book Title</label>
        <input
          type="text"
          class="form-control"
          placeholder="Enter title"
          id="title"
          required
          [(ngModel)]="titleValue"
          name="titleValue"
        />
      </div>
      <label>Author Name</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter author"
        id="author"
        required
        [(ngModel)]="authorValue"
        name="author"
      />
    </div>
    <div class="btn-group mt-3">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
